<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ArticleAdd</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" >
    
    <!-- 引入jquery文件，务必在bootstrap.min.js之前引入 -->
    <script src="/static/bootstrap/js/jquery-3.2.1.js" ></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/js/bootstrap.min.js" ></script>

    <script src="/static/js/marked.min.js"></script>

    <style>
       
    </style>
</head>

<body>

<form action="add" method="post">
    <!--用于判断是否有请求-->
    <input type="hidden" name="request" value="addpost">
    
    <table class="table table-bordered table-hover">
        
        <tr>
            <th>分类名</th>
            <td><input class="form-control modal-sm" type="text" name="cname"></td>
        </tr>
        
        <tr>
            <th>所属栏目</th>
            <td> 
                <select class="form-control modal-sm" name="pid">
                <option value="0">顶级栏目</option>
                <option value="cid">name</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <th>排序</th>
            <td><input class="form-control modal-sm" type="text" name="sort"></td>
        </tr>
        
        <tr>
            <th>关键词</th>
            <td><input class="form-control modal-sm" type="text" name="keywords"></td>
        </tr>
        
        <tr>
            <th>描述</th>
            <td><textarea class="form-control modal-sm" name="description"></textarea></td>
        </tr>
        
        <tr>
            <th></th>
            <td> <input class="btn btn-success" type="submit" value="提交"></td>
        </tr>
    </table>
</form>

</body>

</html>