{extend name="base" /}

{block name="title"}后台管理{/block}

{block name="main"}

<form action="{:url('admin/Category/add')}" method="post">
    <!--用于判断是否有请求-->
    <input type="hidden" name="request" value="addpost">
    
    <table class="table table-bordered table-hover">
        
        <tr>
            <th>分类名</th>
            <td><input class="form-control modal-sm" type="text" name="cname"></td>
        </tr>

        <tr>
            <th>已有分类</th>
            <td>
                <select class="form-control modal-sm" name="exist">
                    {volist name='allCategory' id='category'}
                    <option value="{$category.cid}" >{$category.cname}</option>
                    {/volist}
                </select>
            </td>
        </tr>

        <tr>
            <th>关键词</th>
            <td><input class="form-control modal-sm" type="text" name="keywords"></td>
        </tr>
        
        <tr>
            <th>描述</th>
            <td><textarea class="form-control modal-sm" name="description"></textarea></td>
        </tr>
        
        <tr>
            <th></th>
            <td> <input class="btn btn-success" type="submit" value="提交"></td>
        </tr>
    </table>
</form>

{/block}