<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>desk</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" >
    
    <!-- 引入jquery文件，务必在bootstrap.min.js之前引入 -->
    <script src="/static/bootstrap/js/jquery-3.2.1.js" ></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/js/bootstrap.min.js" ></script>


</head>
<body>

<div style="width:1000px">
    <div class="row" style="height:15px">&nbsp;</div>
    
    <div class="row">
        <div class="col-md-2 ">
            <p><h4>文章统计</h4></p>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <p><span>文章总数：{$all_article}</span></p>
        </div>   
        <div class="col-md-2 ">
            <p><span>已删文章数：{$delete_article}</span></p>
        </div> 
        <div class="col-md-2 ">
            <p><span>不显示文章数：{$hide_article}</span></p>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-2 ">
            <p><h4>评论统计</h4></p>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <p><span>评论总数：{$all_comment}</span></p>
        </div>   
    </div>

    
    <div class="row">&nbsp;</div>
</div>

</body>
</html>