{extend name="base" /}

{block name="title"}后台管理{/block}

{block name="main"}
<div style="width:1000px">
    <div class="row" style="height:15px">&nbsp;</div>
    
    <div class="row">
        <div class="col-md-2 ">
            <p><h4>文章统计</h4></p>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <p><span>文章总数：{$all_article}</span></p>
        </div>   
        <div class="col-md-2 ">
            <p><span>已删文章数：{$delete_article}</span></p>
        </div> 
        <div class="col-md-2 ">
            <p><span>不显示文章数：{$hide_article}</span></p>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-2 ">
            <p><h4>评论统计</h4></p>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <p><span>评论总数：{$all_comment}</span></p>
        </div>   
    </div>

    
    <div class="row">&nbsp;</div>
</div>
{/block}
