{extend name="base" /}

{block name="title"}个人博客首页{/block}

{block name="source"}
<link rel="stylesheet" href="{:url('/static/bootstrap/css/bootstrap.min.css','','')}"/>
<link rel="stylesheet" href="{:url('/static/octicons/octicons.css','','')}" >
<link rel="stylesheet" type="text/css" href="{:url('/static/css/style.css','','')}" />

<link rel="stylesheet" type="text/css" href="{:url('/static/css/article-list.css','','')}" />
<!-- 引入jquery文件，务必在bootstrap.min.js之前引入 -->
<script src="{:url('/static/bootstrap/js/jquery-3.2.1.js','','')}" ></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{:url('/static/bootstrap/js/bootstrap.min.js','','')}" ></script>
<script type="text/javascript" src="{:url('/static/js/script.js','','')}"></script>
<script type="text/javascript" src="{:url('/static/js/comment.js','','')}"></script>

{/block}

{block name="main"}

<div class="main">
    <div class="container">
        <div class="row" >
            <div class="content col-lg-9">
                <div class="sheet post">
                    <header>
                    <h2>{$article.title}</h2>
                    <p class="post-meta">
                        <span class="octicon octicon-clock"></span> {$article.addtime|date="Y-m-d",###}
                    </p>
                    <p class="post-tag">
                        <span>
                            <a href="{:url('index/index/categoryList',['cid'=>$category.cid])}">
                            <span class="octicon octicon-list-unordered"></span>&nbsp;{$category.cname}
                            </a>
                        </span>
                        <span>
                            {volist name='tags' id='tag'}
                            <a class="word-keep" href="{:url('index/index/tag',['tid'=>$tag.tid])}">
                            <span class="octicon octicon-tag"></span>&nbsp;{$tag.tname}
                            {/volist}
                            </a>                 
                        </span>
                        <span class="word-keep pull-right">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;{$article.click}
                        </span>
                    </p>
                    </header>
            
                    <hr class="boundary">
            
                    <article>
                        {$article.content}    
                    </article>
            
                    <hr class="boundary">    
                </div>

                <div class="pad-min"></div>

                <div id="post-comment" class="sheet post" >
                    <div id="disqus_thread">评论 



                        <div class="row b-comment">

                            
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 b-comment-box">
                                <span class="glyphicon glyphicon-user"></span>
                                <div class="b-box-textarea " >
                                
                                    <textarea class="form-control" rows="3"></textarea>
                                    <input type="button" value="评 论" aid="{$article.aid}" pid="0" onclick="comment(this)">              

                                </div>
                                
                                <div class="b-clear-float"></div>
                            </div>
                                    
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 b-comment-title">
                                <ul class="row list-unstyled">
                                    <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">最新评论</li>
                                    <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right ">总共<span>{$totalComment}</span>条评论</li>
                                </ul>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="b-border" style="border:1px solid blue"></div>
                                </div>
                            </div>
                            <!--读者评论显示-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 b-user-comment" id="usercomment" url="{:url('index/index/comment')}" aid="{$article.aid}">

                                {volist name='parentComment' id='parCom'}
                                <div id="comment-{$parCom.cmtid}" class="row b-user b-parent">
                                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 b-pic-col">
                                            <span class="glyphicon glyphicon-user"></span>
                                    </div>
                                    <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 b-content-col b-cc-first" id="reply-{$parCom.cmtid}" >
                                        <p class="b-content">
                                            <span class="b-user-name"></span>{$parCom.ouip}：{$parCom.content}
                                        </p>
                                        <p class="b-date">
                                            {$parCom.date|date='Y-m-d H:i:s',###} <a href="javascript:;" aid="{$parCom.aid}" pid="{$parCom.cmtid}" username="{$parCom.ouip}" onclick="reply(this)">回复</a>
                                        </p>
                                        
                                        <div class="b-clear-float"></div>

                                        <!--对评论内容的回复-->
                                        {volist name='childComment' id='chiCom'}
                                        {if condition="$chiCom.pid == $parCom.cmtid"}

                                        <div id="comment-{$parCom.cmtid}" class="row b-user b-parent">
                                            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 b-pic-col">
                                                    <span class="glyphicon glyphicon-user"></span>
                                            </div>
                                            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 b-content-col b-cc-first" id="reply-{$parCom.cmtid}" >
                                                <p class="b-content">
                                                    <span class="b-user-name"></span>{$chiCom.ouip}：{$chiCom.content}
                                                </p>
                                                <p class="b-date">
                                                    {$chiCom.date|date='Y-m-d H:i:s',###} <a href="javascript:;" aid="{$chiCom.aid}" pid="{$parCom.cmtid}" username="{$chiCom.ouip}" onclick="reply(this)">回复</a>
                                                </p>
                                                
                                                <div class="b-clear-float"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="b-border"></div>
                                            </div>
                                        </div>
                                        {/if}
                                        {/volist}
                                        <!--对评论内容的回复截止-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="b-border"></div>
                                    </div>
                                </div>
                                {/volist}
          
                                            
                            </div>
                        </div>

                        <!--评论结束-->
                    </div>
                </div>

            </div>  
        </div>
    </div>

    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
    <!--返回top-->
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

{/block}