{extend name="base" /}

{block name="title"}个人博客首页{/block}

{block name="main"}

<div class="main">
    <div class="container">
        <div class="row" >
            <div class="content col-lg-9">
                <div class="sheet post">
                    <header>
                    <h2>{$article.title}</h2>
                    <p class="post-meta">
                        <span class="octicon octicon-clock"></span> {$article.addtime|date="Y-m-d",###}
                    </p>
                    <p class="post-tag">
                        <span>
                            <a href="{:url('index/index/categoryList',['cid'=>$category.cid])}">
                            <span class="octicon octicon-list-unordered"></span>&nbsp;{$category.cname}
                            </a>
                        </span>
                        <span>
                            {volist name='tags' id='tag'}
                            <a class="word-keep" href="{:url('index/index/tag',['tid'=>$tag.tid])}">
                            <span class="octicon octicon-tag"></span>&nbsp;{$tag.tname}
                            {/volist}
                            </a>                 
                        </span>
                    </p>
                    </header>
            
                    <hr class="boundary">
            
                    <article>
                        {$article.content}    
                    </article>
            
                    <hr class="boundary">    
                </div>
                <div class="pad-min"></div>
                <div id="post-comment" class="sheet post" >
                    <div id="disqus_thread"></div>
                </div>
            </div>
    
        </div>
    </div>

    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
    <!--返回top-->
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

{/block}