{extend name="base" /}

{block name="title"}后台管理{/block}

{block name="main"}

<div class="container">
    <form action="{:url('admin/Tag/add')}" method="post">
        <!--用于判断是否有请求-->
        <input type="hidden" name="request" value="addpost">
        
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label for="">标签名</label>
                    <textarea name="tnames" id="tnames" cols="25" rows="3" placeholder="可以批量添加，用顿号分隔"></textarea>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <input class="btn btn-success" type="submit" value="添加">
            </div>
        </div>
    </form>
<div>

{/block}