<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}标题{/block}</title>
{block name="source"}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->   
	<link rel="stylesheet" href="{:url('/static/bootstrap/css/bootstrap.min.css','','')}" >
	
    <!-- 引入jquery文件，务必在bootstrap.min.js之前引入 -->
    <script src="{:url('/static/bootstrap/js/jquery-3.2.1.js','','')}" ></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{:url('/static/bootstrap/js/bootstrap.min.js','','')}" ></script>
{/block}

</head>

<body>
<!--布局容器-->
<div class="container-fluid">

<!--基础模板头部-->
<div class="row" style="height:50px" >
{block name="head"}
	<nav class="navbar-default ">
		<div class="navbar-header">
		<a href="{:url('admin/Index/index')}"><img src="{:url('/static/img/admin/blog.jpg','','')}" height="40"></a>
		</div>
		
		<div class="collapse navbar-collapse" >
			<ul class="nav navbar-nav">
				<li><a href="{:url('admin/Index/index')}">后台首页</a></li>
				<li><a href="{:url('index/Index/index')}" >前台首页</a></li>
				<li><a href="{:url('admin/Login/logout')}" >安全退出</a></li>
			</ul>
		</div>
	</nav>
{/block}
</div>
<br>
<!--基础模板下部，分为左边和右边-->
<div class="row">
<!--显示左侧区域-->
<div class="col-md-2" style="width:180px">
{block name="left"}

<div class="dropdown">
	<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown">
		内容管理
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" class="dropdown-header">文章管理</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Article/add')}">添加文章</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/Article/index')}">文章列表</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation" class="dropdown-header">标签管理</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/Tag/add')}">添加标签</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/Tag/index')}">标签列表</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation" class="dropdown-header">分类管理</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/Category/add')}">添加分类</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/Category/index')}">分类列表</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation" class="dropdown-header">图片管理</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/ArticlePic/add')}">添加图片</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{:url('admin/ArticlePic/index')}">图片列表</a>
		</li>
	</ul>
</div>
<br>
<div class="dropdown">
	<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown">
		评论管理
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" class="dropdown-header">评论集合</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Comment/index')}">评论列表</a>
		</li>
	</ul>
</div>
<br>
<div class="dropdown">
	<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown">
		回收管理
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" class="dropdown-header">回收集合</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Recycle/article')}">已删文章</a>
		</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Recycle/comment')}">已删评论</a>
		</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Recycle/link')}">已删友链</a>
		</li>
	</ul>
</div>
<br>
<div class="dropdown">
	<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
			data-toggle="dropdown">
		网站设置
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" class="dropdown-header">友情链接</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Link/add')}">添加友链</a>
		</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="{:url('admin/Link/index')}">友链列表</a>
		</li>
	</ul>
</div>

{/block}
</div>
<!--左侧区域结束-->

	
<!--主体内容显示-->
<div class="col-md-10">
	{block name="main"}主内容{/block}
</div>

<!--基础模板下部结束-->
</div>
<!--布局容器结束-->
</div>

</body>
</html>
