{extend name="base" /}

{block name="title"}后台管理{/block}

{block name="source"}

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{:url('/static/bootstrap/css/bootstrap.min.css','','')}" >
    
    <!-- 引入jquery文件，务必在bootstrap.min.js之前引入 -->
    <script src="{:url('/static/bootstrap/js/jquery-3.2.1.js','','')}" ></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{:url('/static/bootstrap/js/bootstrap.min.js','','')}" ></script>

    <script src="{:url('/static/js/marked.min.js','','')}"></script>

    <style>
        #markdown{
            width: 100%;
            height: 40px;
            background: #2e6da4;
            line-height: 40px;
            color: white;
            font-size: 20px;
            margin-bottom: 60px;
        }
        #md,#html{
            height: 510px;
        }
        #md{
            resize: none;
        }
        #html{
            border: solid 1px darkgrey;
            border-radius: 5px;
        }
    </style>
{/block}

{block name="main"}

    <form action="{:url('admin/Article/edit')}" method="post">
        <!--用于判断是否有请求-->
        <input type="hidden" name="request" value="editpost">
        <input type="hidden" name="aid" value="{$editArticle.aid}">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="category" class="col-md-3 control-label">分类</label>
                    <div class="col-md-9">
                        <select class="form-control" name="cid" id="category" style="width:100px;height:30px;font-size:10px">
                            {volist name='categoryList' id='category'}
                            <option style="width:60px;height:25px;font-size:15px" value="{$category.cid}" {if condition="$category.cid eq $editArticle.cid"}selected='selected'{/if} >{$category.cname}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="title" class="col-md-3 control-label">标题</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="title" name="title" value='{$editArticle.title}' >
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="author" class="col-md-3 control-label">作者</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="author" name="author" value="{$editArticle.author}" >
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="tid" class="col-md-3 control-label">标签</label>
                    <div class="col-md-9">
                        <div class="form-group-inline" >
                            {volist name='allTag' id='tag'}
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" name="tid[]" value="{$tag.tid}" {volist name='checkTag' id='check'} {if condition="$tag.tid == $check.tid"}checked='checked'{/if} {/volist} >{$tag.tname}
                                </label>
                            </div>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4" >
                <div class="form-group">
                    <label for="keywords" class="col-md-3 control-label">关键词</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="keywords" name="keywords" value="{$editArticle.keywords}" >
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4" >
                <div class="form-group">
                    <label for="description" class="col-md-3 control-label">描述</label>
                    <div class="col-md-9">
                        <textarea name="description" id="description" class="form-control" rows="4">{$editArticle.description}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>  
        <div class="row">
            <div class="col-md-10">
                <div id="markdown" class="text-center">内容MarkDown解析器</div>
                <div class="col-md-6">
                    <textarea id="md" name="content" class="form-control" >{$editArticle.content}</textarea>
                </div>
                <div id="html" class="col-md-6"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="is_original" class="col-md-4 control-label">是否原创</label>
                    <div class="col-md-8">
                        <div class="form-group-inline" >
                            <label class="radio-inline">
                                <input type="radio" name="is_original" id="is_original" value="1" {if condition='$editArticle.is_original eq 1'}checked='checked'{/if} > 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_original" id="is_original" value="0" {if condition='$editArticle.is_original eq 0'} checked='checked'{/if} > 否
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="is_top" class="col-md-4 control-label">是否置顶</label>
                    <div class="col-md-8">
                        <div class="form-group-inline" >
                            <label class="radio-inline">
                                <input type="radio" name="is_top" id="is_top" value="1" {if condition='$editArticle.is_top eq 1'}checked='checked'{/if} > 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_top" id="is_top" value="0" {if condition='$editArticle.is_top eq 0'}checked='checked'{/if} > 否
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="is_show" class="col-md-4 control-label">是否显示</label>
                    <div class="col-md-8">
                        <div class="form-group-inline" >
                            <label class="radio-inline">
                                <input type="radio" name="is_show" id="is_show" value="1" {if condition='$editArticle.is_show eq 1'}checked='checked'{/if} > 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_show" id="is_show" value="0" {if condition='$editArticle.is_show eq 0'}checked='checked'{/if} > 否
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <br>
        <div class="row">
            <div class="col-md-4">
                <input class="btn btn-success" type="submit" value="发表">
            </div>
        </div>
    </form>

<script>
    $("#md").on("keyup blur",function () {
        $('#html').html(marked($("#md").val()))
    })
</script>

{/block}