{extend name="base" /}

{block name="title"}后台管理{/block}

{block name="main"}

    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
        <tr>
        <th width="3%">aid</th>
        <th width="9%">所属栏目</th>
        <th width="20%">标题</th>
        <th width="8%">作者</th>
        <th width="22%">标签</th>
        <th width="4%">原创</th>
        <th width="4%">显示</th>
        <th width="4%">置顶</th>
        <th width="5%">点击数</th>
        <th width="13%">发布时间</th>
        <th width="8%">操作</th>
        </tr>
        </thead>
        
        {volist name='articleList' id='article'}
        <tr>
        <td>{$article.aid}</td>
        <td>
            {volist name='categoryList' id='category'}
            {if condition='$article.cid eq $category.cid'}{$category.cname}{/if}
            {/volist}
        </td>
        <td><a href="{:url('index/Index/article',['aid'=>$article.aid])}" target="_blank">{$article.title}</a></td>
        <td>{$article.author}</td>
        <td> 
            {volist name='tagList' id='tag'}
            {if condition='$article.aid eq $tag.aid'} {$tag.tname} &nbsp;{/if}
            {/volist}
        </td>
        <td>{if condition="$article.is_original == 1"}√ {else /}× {/if}</td>
        <td>{if condition="$article.is_show == 1"}√ {else /}× {/if}</td>
        <td>{if condition="$article.is_top == 1"}√ {else /}× {/if}</td>
        <td>{$article.click}</td>
        <td>{$article.addtime|date="Y-m-d H:i:s",###}</td>
        <td> 
            <a href="{:url('admin/article/edit',['aid'=>$article.aid])}">修改</a>
            | 
            <a href="javascript:if(confirm('确定要删除吗?')) location='{:url('admin/article/delete',['aid'=>$article.aid])}'">删除</a>
        </td>
        </tr>
        {/volist}
      
    </table>
    <!--显示分页-->
    
    <div>
    {$articleList->render()}
    </div>

{/block}