<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录后台管理系统</title>
    <link rel="stylesheet" href="{:url('/static/bootstrap/css/bootstrap.min.css','','')}" >
    
    <link rel="stylesheet" href="{:url('/static/octicons/octicons.css','','')}" >
    <link rel="stylesheet" type="text/css" href="{:url('/static/css/style.css','','')}" />

    <link rel="stylesheet" type="text/css" href="{:url('/static/css/admin/login.css','','')}"/>  
    <script type="text/javascript" src="{:url('/static/js/login.js','','')}"></script>

</head>
<body>
    
<div id="login_frame">  
    <h4>后台用户登陆</h4>

    <form method="post" action="{:url('admin/Login/login')}" onsubmit="return login()">  
        <input type="hidden" name="request" value="loginpost">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
                    <span class="input-group-addon">用户名</span>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
                    <span class="input-group-addon">密&nbsp;&nbsp;码</span>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
                    <span class="input-group-addon">验证码</span>
                    <input type="text" class="form-control" name="passcode" id="passcode" style="width:100px;float:left">
                    <img src="{:captcha_src()}" alt="captcha" class="passcode" style="width:130px;height:34px;cursor:pointer;float:right" onclick="this.src=this.src+'?'"/>
                </div>
                
            </div>
        </div>
        <br>
        <div id="login_control">  
            <input type="submit" id="btn_login" value="登录" />  
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" id="btn_login" value="重置" />  
        </div>  
    </form>  
</div>  

<bootstrapjs />
</body>
</html>
